BODY {
	FONT-SIZE: 9pt
}
TABLE.datatable {
	BORDER-COLLAPSE: collapse; CURSOR: default
}
TABLE.datatable THEAD {
	BACKGROUND-COLOR: #e0e0e0; FONT-SIZE: 9pt; TEXT-ALIGN: center
}
TABLE.datatable TBODY {
	FONT-SIZE: 9pt
}
TABLE.datatable TFOOT {
	BACKGROUND-COLOR: #e0e0e0; FONT-SIZE: 9pt; TEXT-ALIGN: center
}
TABLE.datatable TR.tr1 {
	BACKGROUND-COLOR: white
}
TABLE.datatable TR.tr2 {
	BACKGROUND-COLOR: whitesmoke
}
TABLE.datatable TR.active_tr {
	BACKGROUND-COLOR: #e0f0ff
}
TABLE.datatable TR.current_tr {
	BACKGROUND-COLOR: #ffebcd
}
TABLE.datatable TD.active_cell {
	BACKGROUND-COLOR: #ffffe0
}
TABLE.dropdowntable {
	BORDER-BOTTOM: gray 1px solid; BORDER-COLLAPSE: collapse; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; CURSOR: default
}
TABLE.dropdowntable THEAD {
	BACKGROUND-COLOR: #d7ebeb; FONT-SIZE: 9pt; FONT-WEIGHT: bolder; TEXT-ALIGN: center
}
TABLE.dropdowntable TBODY {
	FONT-SIZE: 9pt
}
TABLE.dropdowntable TFOOT {
	BACKGROUND-COLOR: #d7ebeb; FONT-SIZE: 9pt
}
TABLE.dropdowntable TR.tr1 {
	BACKGROUND-COLOR: #f0f9ff
}
TABLE.dropdowntable TR.tr2 {
	BACKGROUND-COLOR: #e0f0ff
}
TABLE.dropdowntable TR.active_tr {
	BACKGROUND-COLOR: #ffebcd
}
TABLE.dropdowntable TR.current_tr {
	BACKGROUND-COLOR: #ffebcd
}
.editor {
	BORDER-BOTTOM: darkgray 1px solid; BORDER-LEFT: darkgray 1px solid; BORDER-RIGHT: darkgray 1px solid; BORDER-TOP: darkgray 1px solid; FONT-SIZE: 9pt; SCROLLBAR-FACE-COLOR: window; SCROLLBAR-HIGHLIGHT-COLOR: lightgrey; SCROLLBAR-SHADOW-COLOR: gray; SCROLLBAR-3DLIGHT-COLOR: window; SCROLLBAR-DARKSHADOW-COLOR: window
}
.active_editor {
	BACKGROUND-COLOR: #e0f0ff; BORDER-BOTTOM: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9pt; SCROLLBAR-FACE-COLOR: #f0f9ff; SCROLLBAR-HIGHLIGHT-COLOR: lightgrey; SCROLLBAR-SHADOW-COLOR: gray; SCROLLBAR-3DLIGHT-COLOR: #f0f9ff; SCROLLBAR-DARKSHADOW-COLOR: #f0f9ff
}
.dockeditor {
	BORDER-BOTTOM: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9pt; SCROLLBAR-FACE-COLOR: window; SCROLLBAR-HIGHLIGHT-COLOR: lightgrey; SCROLLBAR-SHADOW-COLOR: gray; SCROLLBAR-3DLIGHT-COLOR: window; SCROLLBAR-DARKSHADOW-COLOR: window
}
.button {
	BACKGROUND-COLOR: #d4d0c8; BORDER-BOTTOM: darkgray 1px solid; BORDER-LEFT: darkgray 1px solid; BORDER-RIGHT: darkgray 1px solid; BORDER-TOP: darkgray 1px solid; CURSOR: hand; FONT-SIZE: 9pt; HEIGHT: 22px
}
.button_down {
	BACKGROUND-COLOR: #fff1da; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #666666 1px solid; CURSOR: hand; FONT-SIZE: 9pt; HEIGHT: 22px
}
TABLE.datapilot {
	CURSOR: default
}
TABLE.datapilot BUTTON {
	CURSOR: hand; HEIGHT: 20px
}
.editorholder {
	
}
.datascrollbar {
	CURSOR: hand
}
TABLE.tree {
	BORDER-BOTTOM: silver 1px solid; BORDER-COLLAPSE: collapse; BORDER-LEFT: silver 1px solid; BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; CURSOR: default
}
TABLE.tree TBODY {
	FONT-SIZE: 9pt
}
TABLE.tree TR.tr1 {
	BACKGROUND-COLOR: white; HEIGHT: 20px
}
TABLE.tree TR.tr2 {
	BACKGROUND-COLOR: white; HEIGHT: 20px
}
TABLE.tree TR.active_tr {
	BACKGROUND-COLOR: #ffebcd; HEIGHT: 20px
}
TABLE.tree TR.rightclick_tr {
	BACKGROUND-COLOR: #e0f0ff; HEIGHT: 20px
}
TABLE.tree BUTTON {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; CURSOR: hand; HEIGHT: 15px; MARGIN-BOTTOM: 2px; MARGIN-RIGHT: 3px; WIDTH: 11px
}
TABLE.tree IMG {
	MARGIN-RIGHT: 2px
}
.fieldlabel {
	FONT-SIZE: 9pt
}
.datalabel {
	FONT-SIZE: 9pt
}
.tabpage {
	BORDER-BOTTOM: gray 1px solid; CURSOR: default; FONT-SIZE: 9pt
}
#CalendarTable {
	BORDER-BOTTOM: gray 1px solid; BORDER-COLLAPSE: collapse; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; CURSOR: default; FONT-SIZE: 9pt
}
#CalendarTable .calendar_title {
	BACKGROUND-COLOR: #e4e4e4
}
#CalendarTable .calendar_footer {
	BACKGROUND-COLOR: #e4e4e4
}
#CalendarTable .calendar_week {
	BACKGROUND-COLOR: #e4e4e4
}
#CalendarTable .calendar_data {
	BACKGROUND-COLOR: #f0f9ff
}
.title1 {
	COLOR: #2f2f2f; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=silver, EndColorStr=white); FONT-SIZE: 10pt; FONT-WEIGHT: bold; HEIGHT: 26px; MARGIN-BOTTOM: 4pt
}
.title2 {
	BACKGROUND-COLOR: #d4d0c8; BORDER-BOTTOM: 1px outset; BORDER-COLLAPSE: collapse; BORDER-LEFT: 1px outset; BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-SIZE: 9pt; HEIGHT: 20px; MARGIN-BOTTOM: 2px
}
.footer1 {
	BACKGROUND-COLOR: white; MARGIN-BOTTOM: 2pt
}
DIV {
	SCROLLBAR-FACE-COLOR: Gainsboro; SCROLLBAR-HIGHLIGHT-COLOR: gray; SCROLLBAR-SHADOW-COLOR: gray; SCROLLBAR-3DLIGHT-COLOR: Gainsboro; SCROLLBAR-DARKSHADOW-COLOR: Gainsboro; SCROLLBAR-ARROW-COLOR: gray
}
